@import 'tailwindcss';

@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue-haas/NeueHaasDisplayRoman.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue-haas/NeueHaasDisplayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue-haas/NeueHaasDisplayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


body.page-blog,
body.page-landing {
  --background: #000000;
  --foreground: #ffffff;
}


body.page-connect {
  --background: #DFFF00;
  --foreground: #000000;

    h1 {
      font-size: 6.44rem;
      line-height: 6rem;
      font-weight: 400;
    }

}

body.page-about {
  --background: #ff3700;
  --foreground: #000000;
}
:root {
  --foreground: #ffffff;
  --background: #000000;
  --padding: 1.5rem;
  box-sizing:border-box;
  --global-margin:0.75rem;
  --fw-m: calc(100vw - var(--global-margin) * 2);
  --fh-m: calc(100vh - var(--global-margin) * 2);
  --radius-lrg: 0.5rem;
  --radius-sm: 0.15rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;

  }
} */

html,
body {
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;

}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: --padding; */
  font-size: 18px;
  font-family: "Neue Haas";
  font-weight: 400;
}

* {
  box-sizing: border-box;

}
*::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

h1 {
  font-size: 4.22rem;
  line-height: 5rem;
  font-weight: 600;
}
h2 {
  font-size: 3.15rem;
  font-weight: 600;
}
h3 {
  font-size: 2.39rem;
}
h4 {
  font-size: 1.8rem;
  font-weight: 600;
}
h5 {
  font-size: 1.33rem;
}
h6 {
  font-size: 0.778rem;
}
p {
  font-weight: 400;
}
a {

}
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 30s linear infinite;
}