@import "tailwindcss";

@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue-haas/NeueHaasDisplayRoman.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue-haas/NeueHaasDisplayMedium.ttf") format("truetype");
  font-style: medium;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Neue Haas";
  src: url("/fonts/neue-haas/NeueHaasDisplayBold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

body.page-home,
body.page-blog,
body.page-landing {
  --background: #000000;
  --foreground: #ffffff;
  --footer-bg: #ff3700;
  --footer-txt: #ffffff;
}

body.page-connect {
  --background: #dfff00;
  --foreground: #000000;
  --footer-bg: #c1d2fc;
  --footer-txt: #000000;

  h1 {
    font-size: 6.44rem;
    line-height: 6rem;
    font-weight: 400;
  }
}

body.page-about {
  --background: #ff3700;
  --foreground: #ffffff;
  --footer-bg: #c1d2fc;
  --footer-txt: #000000;
}
:root {
  --foreground: #ffffff;
  --background: #000000;
  --footer-bg: #c1d2fc;
  --foot-txt: #000000;
  --padding: 1.5rem;
  box-sizing: border-box;
  --global-margin-lg: 2rem;
  --global-margin-md: 1.5rem;
  --global-margin-sm: 1rem;
  --global-margin-xs: 0.5rem;
  --fw-m: calc(100vw - var(--global-margin-lg) * 2);
  --fh-m: calc(100vh - var(--global-margin-lg) * 2);
  --radius-lrg: 0.5rem;
  --radius-sm: 0.15rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;

  }
} */

html,
body {
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: --padding; */
  font-size: 12px;
  font-family: "Neue Haas";
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

h1 {
  font-size: 4.22rem;
  font-weight: 400;
}
h2 {
  font-size: 3.15rem;
  font-weight: 600;
}
h3 {
  font-size: 2.39rem;
  font-weight: 400;
}
h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--foreground);
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.778rem;
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--foreground, 0.8);
}
p strong {
  color: var(--foreground);
}
a:hover {
  cursor: pointer;
}
a button:hover {
  cursor: pointer;
}
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 30s linear infinite;
}
